@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  @apply bg-dark-bg;
}

@layer components {
  .btn {
    @apply bg-[#3b8df1] text-white px-3 py-2 rounded-md text-sm text-white inline-block;
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}